
@import "/src/themes/variables";

.mat-snack-bar-container.success{
    background-color: $primary;
    color: #fff;
}
.mat-snack-bar-container.success .mat-simple-snackbar-action {
    color: $primary;
    background-color: #fff;
}

.mat-snack-bar-container.error{
    background-color: $warn;
    color: #fff;
}
.mat-snack-bar-container.error .mat-simple-snackbar-action {
    color: $warn;
    background-color: #fff;
}

.mat-snack-bar-container.warning{
    background-color: $warn;
    color: #fff;
}
.mat-snack-bar-container.warning .mat-simple-snackbar-action {
    color: $warn;
    background-color: #fff;
}
