<h1>Booking list <a mat-flat-button color="accent" class="link-new" routerLink="/booking/new">New</a></h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Location</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booking of list">
            <td>{{ booking.id }}</td>
            <td>{{ booking.location.name }}</td>
            <td>{{ booking.date | date }}</td>
        </tr>
    </tbody>
</table>