<h1>Find to book</h1>

<div *ngIf="!availabilities">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
        <mat-form-field appearance="fill" required>
            <mat-label>Choose a date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <button mat-flat-button color="primary">Find location</button>
    </form>
    <hr />
    <a mat-flat-button color="accent" class="link-back" routerLink="/booking">Back</a>
</div>
<div *ngIf="availabilities">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of availabilities">
                <td>{{ location.l_id }}</td>
                <td>{{ location.l_name }}</td>
                <td><a mat-flat-button color="primary" (click)="book(location.l_id)">Book this location</a></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <a mat-flat-button color="accent" class="link-back" (click)="unsetAvailabilities()">Back</a>
</div>