<div class="login" *ngIf="!registerActive">
  <h1>Account login</h1>

  <form [formGroup]="signInForm" (ngSubmit)="signIn()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input id="username" formControlName="username" name="username" type="text" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input id="password" formControlName="password" name="password" type="password" matInput />
    </mat-form-field>

    <button mat-flat-button color="primary">Sign in</button>

    <p>
      You do not have an account ?
      <a href="#" (click)="goToRegister()">Register here</a>
    </p>
  </form>
</div>

<div class="register" *ngIf="registerActive">
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input id="username" formControlName="username" name="username" type="text" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input id="password" formControlName="password" name="password" type="password" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input id="email" formControlName="email" name="email" type="text" matInput />
    </mat-form-field>

    <button mat-flat-button color="primary">Register</button>

    <hr />

    <a mat-flat-button color="accent" class="link-back" (click)="goToLogin()">Back</a>

  </form>
</div>