@import '~@angular/material/theming';

// define a real custom palette (using http://mcg.mbitson.com)
$bv-brand: (
    50: #edf8f8,
    100: #d3edef,
    200: #b6e2e4,
    300: #98d6d9,
    400: #82cdd0,
    500: #122D54,
    600: #64bec2,
    700: #59b6bb,
    800: #122D54,
    900: #3da2a7,
    A100: #f7ffff,
    A200: #c4fcff,
    A400: #91f9ff,
    A700: #78f8ff,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);


$bv-brand2: (
    50: #f3f1ef,
    100: #e2dcd7,
    200: #cec4bd,
    300: #baaca2,
    400: #6CC4C8,
    500: #9d897a,
    600: #958172,
    700: #8b7667,
    800: #6CC4C8,
    900: #6f594a,
    A100: #ffe2cf,
    A200: #ffc39c,
    A400: #ffa469,
    A700: #ff9550,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$bv-pink: (
    50: #ffecf0,
    100: #ffd0da,
    200: #ffb1c2,
    300: #ff92a9,
    400: #ff7a96,
    500: #ff6384,
    600: #ff5b7c,
    700: #ff5171,
    800: #ff4767,
    900: #ff3554,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffdfe4,
    A700: #ffc6ce,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);


$bv-orange: (
    50: #ffffff,
    100: #fff7f4,
    200: #fecdbd,
    300: #fc9977,
    400: #fc8259,
    500: #fb6c3b,
    600: #fa551d,
    700: #f44205,
    800: #d63a04,
    900: #b83204,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$bv-primary-text: (
    50 : #ececec,
    100 : #d0cfcf,
    200 : #b0afaf,
    300 : #908f8e,
    400 : #797776,
    500 : #615f5e,
    600 : #595756,
    700 : #4f4d4c,
    800 : #454342,
    900 : #333231,
    A100 : #f5c392,
    A200 : #f0aa64,
    A400 : #ff9022,
    A700 : #ff8408,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// mandatory stuff for theming
// hue. Available color palettes: https://material.io/design/color/
// mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700) 
$app-primary: mat-palette($bv-brand, 800, 200, 900);
$app-secondary: mat-palette($bv-brand2, 800, 400, 900);
$app-accent: mat-palette($bv-brand2, 800, 400, 900);
$app-pink: mat-palette($bv-pink, 800, 400, 900);
$app-warn:  mat-palette($bv-orange, 700, 200, 900);
$app-primary-text:  mat-palette($bv-primary-text, 500, 100, 700);

$primary : mat-color($app-primary);
$secondary : mat-color($app-secondary);
$accent : mat-color($app-accent);
$warn : mat-color($app-warn);
$primary-text : mat-color($app-primary-text);